<%-include('./header.ejs') %>

  <br><br><br><br>
  <section class="cmspage mtb-40" style="min-height: 80vh;">
    <div class="container login-box">
      <h1>ABOUT PAGE</h1>
      <p style="text-align: justify;">Welcome to Blogger, your ultimate hub for insightful articles and engaging
        stories across a variety of topics. Whether you're a tech enthusiast, a passionate traveler, a lifestyle
        aficionado, or simply someone who loves to read, you'll find valuable content that informs, entertains, and
        inspires.
      </p>

      <h2>Our Mission</h2>
      <p>


At Blogger, our mission is to create a vibrant space where knowledge is shared, stories are told, and communities are built. We aim to inspire, educate, and entertain through high-quality content and active engagement.
      </p>

      <h2>Join Us</h2>
      <p>

        Explore the world through the lens of Blogger and contribute to our growing community. Whether you're here to
        read, share, or write, we're thrilled to have you on this journey with us. Let’s connect and grow together!
      </p>
    </div>
    <br><br><br><br><br>

  </section>
  <br><br><br><br>

  <%-include('./footer.ejs') %>