<footer style="    background-color:#57230e;
color: #fff;
padding: 20px;">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-5">
              <img src="/image/Blogger.png" style="width:70%;">
              <br><br>
          </div>
          <div class="col-md-7">
              <h2 class="h22"><span style="color: #ffad00;">CONTACT</span> US</h2>
              <p class="p4"> We’re a vibrant community where voices come alive and ideas flourish. Whether you’re an aspiring writer, a seasoned blogger, or simply someone passionate about sharing knowledge, our platform provides you with the tools and support to express yourself and connect with like-minded individuals.</p>
              <div class="row">
                  <div class="col-md-6">
                  </div>
                  <div class="col-md-6">
                      <h2 class="h5"><span style="color: #ffad00;">Franchise Enquiry</span></h2>
                      <p>Mobile: <b class="p6"><span style="color: #ffad00;">+91 7000846823</span></b>
                      <p>Email: <b class="p7"><span style="color: #ffad00;">support@blogger.in</span></b>
                      </p>
                      </p>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                      <h2 class="h5"><span style="color: #ffad00;">HR Enquiry</span></h2>
                      <p>Mobile: <b class="p6"><span style="color: #ffad00;">+91 999363676</span></b>
                  </div>
                  <div class="col-md-6">
                      <h2 class="h5"><span style="color: #ffad00;">Other Enquiry</span></h2>
                      <p>Email: <b class="p7"><span style="color: #ffad00;">cdivyanshi2003@gmail.com</span></b>
                      </p>
                  </div>
              </div>
          </div>
      </div><!--row end-->
  </div><!--container-fluid end-->

</footer